
/* style sheet of 3 columns */
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

:root{
    --color:rgba(255, 255, 255, 0.75);
    --heading-color:rgb(242, 242, 242);
    --bg-card-1:rgb(227, 136, 38);
    --bg-card-2:rgb(0, 105, 112);
    --bg-card-3:rgb(0, 66, 65);
    
}
*,
::after,
::before{
    box-sizing: border-box;
    padding:0;
    margin:0;
}
body{
    font-family: 'Lexend Deca', sans-serif;
    font-size:1rem;
    line-height: 1.65;
}
h1{
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 700;
    font-size: 2.3rem;
    color:var(--heading-color);
    text-transform:uppercase ;
}
p{
    font-size:0.9rem;
    color:var(--color);
    padding:1.4rem 0;
}
button{
    border-radius:2rem;
    padding:0.75rem 2rem;
    cursor:pointer;
    background-color:#fff;
  border:1px solid transparent;
}
button:hover{
background:transparent;
color:#fff;
height:auto;
border:1px solid #fff;
}
/* mobile design */
.container{
max-width:100%;
display:flex;
justify-content: center;
align-items: center;
height: auto;
}

.card{
 display:grid;
 grid-template-rows: repeat(3,1fr); 
 margin:2rem auto;
 width:100%;
 justify-content:center;;
 align-items: center;
 padding:30px 20px;
}

.card_1, .card_2, .card_3{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: flex-start;
    padding:3rem 3rem; 
    margin:0;
    overflow: hidden;
    height:100%;
}
.card_1{
    background-color: var(--bg-card-1);
    border-radius: 10px 10px 0 0;
}
.card_2{
    background-color: var(--bg-card-2);
}
.card_3{
    background-color: var(--bg-card-3);
    border-radius: 0 0 10px 10px;
}
.btn1{
    color:var(--bg-card-1);
}
.btn2{
    color:var(--bg-card-2);
}
.btn3{
    color:var(--bg-card-3);
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

/* desktop version */

@media (min-width:860px){

    p{
    padding-bottom:5rem;
    text-transform: capitalize;
    }
.container{
    min-height:100vh;
    width:auto;

}

    .card{
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: 1fr;
        max-width:70%;
        min-height:85vh;
    }

    .card_1{
        border-radius: 10px 0 0 10px;
      
    }
    .card_3{
        border-radius:0 10px 10px 0;
    }
    .card_1, .card_2, .card_3{
        padding:2rem auto;
        margin:0;
        border:0;
        height:100%;
}
}